<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["VerticalSlice.styles.css"]"/>
    <link href="_content/Z.Blazor.Diagrams/style.min.css" rel="stylesheet" />
    <!-- If you want the default style -->
    <link href="_content/Z.Blazor.Diagrams/default.styles.min.css" rel="stylesheet" />

    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
</body>

</html>